// out: false


.btn {
	--btn-color-light: var(--color-text-20);
	--btn-color      : var(--color-text);
	--btn-text       : var(--bg3);

	--size       : 40px;

	display        : flex;
	align-items    : center;
	justify-content: center;
	position   : relative;
	height       : var(--size);
	padding      : 0 calc(var(--size) / 2);

	transition: .2s ease;

	background : none;
	border     : none;
	border-radius: 8px;
	outline    : none;
	font-family: var(--font-base);

	font-size  : 14px;
	font-weight: bold;


	// default variant
	color: var(--btn-color);
	user-select: none;


	&:focus {
		z-index: 2;

	}

	&:active {
		// transform: translateY(2px);
	}

	&:not(a, button, label):active {
		transform: none;
	}

	// size
	&-large {
		--size   : 52px;
		font-size: 16px;
	}

	&-small {
		--size   : 28px;
		font-size: 12px;
	}

	// color

	&--primary {
		--btn-color      : #74A032;
		--btn-color-light: #BAD099;
		--btn-text       : #fff;

	}

	&--brown {
		--btn-color      : var(--color-brown);
		--btn-color-light: var(--color-brown-50);
		--btn-text       : #fff;

	}

	&--sec {
		--btn-color      : #E2B30B;
		--btn-color-light: #d6bc5b;
		--btn-text       : #fff;

	}


	// variant



	&--fill {
		background: var(--btn-color);
		border    : transparent;
		color     : var(--btn-text);

		&:active {
			background: var(--btn-color-light);

		}
	}

	&--contur {
		background: transparent;
		border    : 1px solid var(--btn-color);
		color     : var(--btn-color);


	}


	&--white-bg {
		background: var(--bg3);
		box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);

		@media(hover) {
			&:hover {
				background: var(--bg3);
				box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12), 0 0 0 1px var(--btn-color);
			}
		}

		&:focus:not(:active) {
			background: var(--bg3);
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12), 0 0 0 2px var(--btn-color);

		}
	}

	// mod

	&:disabled {
		opacity       : 0.4;
		pointer-events: none;
	}

	&-fab,
	&-icon {
		width  : var(--size);
		padding: 0;
	}

	&-fab {
		border-radius: 50%;
	}

}