// out: false

@mixin Text {

	&-h0 {
		font-size  : 50px;
		font-weight: 600;
		line-height: 1.1;
	}

	&-h1 {
		font-size  : 36px;
		font-weight: 700;
		line-height: 1.1;
	}

	&-h2 {
		font-size  : 32px;
		font-weight: 700;
		line-height: 1.1;
	}

	&-h3 {
		font-size  : 30px;
		font-weight: 700;
		line-height: 1.1;
	}

	&-h4 {
		font-size  : 28px;
		font-weight: 600;
		line-height: 1.1;
	}

	&-h5 {
		font-size  : 26px;
		font-weight: 600;
		line-height: 1.1;
	}

	&-h6 {
		font-size  : 24px;
		font-weight: 600;
	}

	&-subtitle-1 {
		font-size  : 22px;
		font-weight: 600;
	}

	&-subtitle-2 {
		font-size  : 20px;
		font-weight: 600;
	}


	&-body-0 {
		font-size  : 18px;
		font-weight: 400;
	}

	&-body-1 {
		font-size  : 16px;
		font-weight: 400;
	}

	&-body-2 {
		font-size  : 14px;
		font-weight: 400;
	}

	&-small {
		font-size  : 12px;
		font-weight: 400;
	}

	&-small-1 {
		font-size  : 11px;
		font-weight: 400;
	}

	&-small-2 {
		font-size  : 10px;
		font-weight: 400;
	}
}

@mixin TextMod {
	&--uppercase {
		text-transform: uppercase;
	}

	&--underline {
		text-decoration: underline;
	}

	&--regular {
		font-weight: normal;
	}

	&--medium {
		font-weight: 500;
	}

	&--demibold {
		font-weight: 600;
	}

	&--bold {
		font-weight: bold;
	}


	&--left {
		text-align: left;
	}

	&--center {
		text-align: center;
	}

	&--right {
		text-align: right;
	}
}

.text {
	@include AddMedia {
		@include Text;
	}
	@include AddMedia {
		@include TextMod;
	}

	&-ul {
		&-item {
			display    : flex;
			align-items: flex-start;

			&+& {
				margin-top: calc(var(--spacing) * 2);

			}

			&:before {
				content: '';
				width        : 6px;

				min-width    : 6px;
				height       : 6px;

				margin-top: 0.5em;
				margin-right : calc(var(--spacing) * 3);
				background   : var(--color-primary);
				border-radius: 50%;
			}
		}
	}
}

.lh {
	&-1 {
		line-height: 1;
	}

	&-1-5 {
		line-height: 1.5;
	}

	&-2 {
		line-height: 2;
	}
}

.font-base {
	font-family: var(--font-base);
}

.font-alt {
	font-family: var(--font-alt);
}