@import '../ui/scss/_variables.scss';
@import '../ui/scss/_functions.scss';

:root {

	--bg1: #E9EAEC;
	--bg2: #F4F5F6;
	--bg3: #FFFFFF;

	--spacing: 4px;

	--radius-small: 4px;
	--radius-middle: 8px;
	--radius-large: 12px;

	--media-lg: #{$lg};
	--media-md: #{$md};
	--media-sm: #{$sm};

	--font-base: 'ALS Schlange sans', Arial, Helvetica, sans-serif;

	--zi-l1: 321;
	--zi-l2: 322;
	--zi-l3: 323;
	--zi-l4: 324;
	--zi-l5: 325;
	--zi-l6: 326;
	--zi-l7: 327;
	--zi-l8: 328;
	--zi-l9: 329;
	@include getColors(#74A032, "primary");
	@include getColors(#9B5050, "brown");
	@include getColors(#323338, "text");
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	// background: url("../img/footer-logo.svg") no-repeat right bottom / auto, #2E5E2E;
	color: var(--color-text);

	* {
		font-family: var(--font-base);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

}

.root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	position: relative;
}

.started {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	position: relative;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: var(--zi-l5);

	&__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		pointer-events: none;

		&-inner {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;


		}

		&-shadow {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.25);
		}
	}

	&__content {
		position: relative;
		margin: auto;
		z-index: 3;

	}

	&__btn {
		--circle-r: 32px;
		--btn-color: #BDCCBB;
		position: relative;
		position: absolute;
		top: calc(50% - 84px / 2 - 152px);
		left: calc(50% - 285px / 2);
		width: 285px;
		height: 84px;
		padding-top: 11px;
		transition: transform .5s ease;
		background: radial-gradient(circle at center -10px, rgba(0, 0, 0, 0) var(--circle-r), var(--btn-color) calc(var(--circle-r) + 1px));
		border-radius: 8px;
		font-size: 25px;
		font-weight: 700;
		color: #FFFFFF;
		font-feature-settings: 'pnum' on, 'lnum' on;

		&-img {
			position: absolute;
			top: -36px;
			left: calc(50% - 26px);
			width: 52px;
			transition: 1s ease;

		}

	}
}

body:not(.dark) .started__background-inner.dark {
	opacity: 0;
}

body.dark .started__background-inner.light {
	opacity: 0;
}

body:not(.dark) .started__btn-img.dark {
	opacity: 0;
}

body.dark .started__btn-img.light {
	opacity: 0;
}



.main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.header {
	position: relative;
	height: 435px;
	padding: 76px 50px 60px;
	background: url("../img/header-bg.jpg") no-repeat center / cover;
	color: #636363;


	&__img {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.25);
		z-index: 1;
	}

	&__content {
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
		flex-direction: column;
		position: relative;
		height: 100%;
		z-index: 2;
	}

	&__sign {
		margin-bottom: auto;
		font-size: 13px;
		font-weight: 700;
		line-height: 1.2;
		font-feature-settings: 'pnum' on, 'lnum' on;
	}

	&__title {
		font-size: 60px;
		font-weight: 700;
		font-feature-settings: 'pnum' on, 'lnum' on;
	}
}

.content {
	display: flex;
	align-items: center;
	padding: 40px 50px 60px;

	&-text {
		font-size: 16px;
		font-weight: 700;
		line-height: 150%;
		color: #323338;
		font-feature-settings: 'pnum' on, 'lnum' on;
	}

	&-qr {
		width: 400px;
		min-width: 400px;
		margin-left: auto;
		padding: 16px;
		background: rgba(189, 204, 187, 0.4);
		border-radius: 8px;

		&-title {
			margin-bottom: 16px;
			font-size: 20px;
			font-weight: 700;
			text-align: center;
		}

		&-img {
			width: 368px;
			height: 368px;
			padding: 30px;
			background: rgba(255, 255, 255, 0.6);
			border-radius: 8px;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		&-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 50px;
			margin-top: 16px;
			background: #BDCCBB;
			border-radius: 56px;
			font-size: 20px;
			font-weight: 700;
			color: #636363;
			text-align: center;
			text-transform: uppercase;
		}
	}
}



.footer {
	display: flex;
	align-items: center;
	flex-grow: 1;
	padding: 45px 50px 50px;

	&-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		width: 277px;
		height: 50px;
		background: #BDCCBB;
		border-radius: 56px;
		font-size: 20px;
		font-weight: 700;
		color: #636363;
		text-align: center;
		text-transform: uppercase;
	}

	&-logo {
		margin-left: auto;
	}
}

.rules {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 175px 40px;
	background: rgba(46, 68, 46, 0.8);
	z-index: var(--zi-l3);


	&__inner {
		width: 100%;
		transform-origin: left bottom;
		transition: .5s ease;
		background: #FFFFFF;
		border-radius: 8px;
	}

	&__content {
		width: 100%;
		padding: 80px 20px 150px;

	}

	&__list {
		--gap-x: 10px;
		--gap-y: 80px;
		justify-content: center;
	}


	&__title,
	&__subtitle {
		text-align: center;
		font-feature-settings: 'pnum' on, 'lnum' on;

	}

	&__title {
		margin-bottom: 50px;
		font-size: 25px;
		font-weight: 700;
	}

	&__subtitle {
		margin-bottom: 126px;
		font-size: 20px;
		font-weight: 400;
	}

	&__btn {
		width: 100%;
		height: 113px;
		border-radius: 0;
		font-size: 25px;
		font-weight: 700;
	}
}

.rules-item {
	display: flex;
	align-items: center;
	flex-direction: column;


	&__img {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 142px;
		height: 118px;
		margin-bottom: 20px;
		padding: 15px 18px;
		background: #BAD099;
		border-radius: 8px;


	}

	&--banned &__img {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 182px;
			height: 5px;
			transform: rotateZ(45deg);
			transform: rotateZ(38.5deg);
			transform-origin: left top;
			background: #74A032;
			border-radius: 10px;
		}
	}

	&__title {
		font-size: 18px;
		font-weight: 400;
		line-height: 1.4;
		text-align: center;
		font-feature-settings: 'pnum' on, 'lnum' on;
	}
}

.place-card {
	display: flex;
	align-items: center;
	position: relative;
	width: 958px;
	min-height: 328px;
	padding: 6px;
	padding-right: 50px;
	background: #FFFFFF;
	border-radius: 8px;
	box-shadow: 0px 6px 9px rgba(64, 85, 64, 0.45);

	&__img {
		align-self: stretch;
		width: 280px;
		min-width: 280px;
		margin-right: 30px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		padding-top: 22px;
		padding-bottom: 22px;
	}

	&__title {
		margin-bottom: 22px;
		font-size: 30px;
		font-weight: 400;
		line-height: 1.15;

		font-feature-settings: 'pnum' on, 'lnum' on;
	}

	&__props {
		margin-top: 22px;
		margin-bottom: 22px;
	}

	&__prop {
		font-size: 20px;
		font-weight: 400;
		line-height: 1.75;

		span {
			font-weight: bold;
			color: #74A032;
		}
	}

	&__description {
		font-size: 18px;
		font-weight: 400;
		line-height: 1.67;
		font-feature-settings: 'pnum' on, 'lnum' on;

		a {
			pointer-events: none;
		}
	}

	&__close {
		--size: 50px;
		--btn-color: #74A032;
		position: absolute;
		top: -25px;
		right: -20px;
		padding: 10px;
		box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
	}
}

.rules {
	transition: .5s ease;
}

.started {
	transition: 2s ease;
}


.root:not(.page-started) {
	.started {
		opacity: 0;
		transition: 1s ease;
		transition-delay: .25s;
		pointer-events: none;

	}
}

.root:not(.page-with-rules) {
	.rules {
		opacity: 0;
		pointer-events: none;

		&__inner {
			opacity: 0;
			transform: translateX(50px) translateY(25%) scale(0.1);
		}
	}

}


.map {
	padding: 0 50px;

	&-block {
		position: relative;
		width: 100%;
		overflow: hidden;
		border-radius: 50px;
	}

	&-img {
		&:before {
			content: '';
			display: block;
			width: 100%;
			padding-bottom: calc(100% * 708 / 980);
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&-qr {
		position: absolute;
		right: 48px;
		bottom: 38px;
		width: 156px;
		padding: 10px;
		background: #FFFFFF;
		border-radius: 8px;

		&-img {
			width: 100%;
			margin-bottom: 10px;
			padding: 4px;

			img {
				width: 100%;
			}
		}

		&-title {
			font-size: 14px;
			font-weight: 700;
			color: #323338;
			font-feature-settings: 'pnum' on, 'lnum' on;
		}
	}
}

@media (orientation:portrait) {
	br.landscape {
		display: none;
	}
}

@media (orientation:landscape) {
	.started {
		&__btn {
			--circle-r: 40px;
			top: calc(50% - 106px / 2 - 24px);
			left: calc(50% - 362px / 2);
			width: 362px;
			height: 106px;
			padding-top: 14px;
			font-size: 32px;

			&-img {
				top: -47px;
				left: calc(50% - 33px);
				width: 66px;
			}
		}
	}

	.header {
		height: 490px;
		padding: 60px 100px 108px;
		background: url("../img/header-bg-landscape.png") no-repeat 50% center / auto, #fff;

		&-sign {
			font-size: 24px;
		}

		&-title {
			font-size: 80px;
		}
	}

	.content {
		position: relative;
		padding: 0 100px;
		z-index: 2;

		&-text {
			margin-top: -58px;
			font-size: 20px;

			br.portrait {
				display: none;
			}
		}

		&-qr {
			width: 450px;
			min-width: 450px;
			margin-top: -148px;

			&-title {
				font-size: 24px;
			}

			&-img {
				width: 414px;
				height: 414px;
			}

			&-btn {
				height: 56px;
				font-size: 24px;
			}
		}
	}

	.map {
		display: none;
	}

	.footer {
		align-items: flex-end;
		padding: 0px 100px 50px;

		&-btn {
			width: 352px;
			height: 54px;
			font-size: 26px;
		}
	}
}

.non-qr {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 50px;
	background: rgba(20, 22, 21, 0.6);
	z-index: var(--zi-l9);

	&-content {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		height: 100%;
		padding: 72px;
		background: #FEFEFE;
		color: #141615;
	}

	&-sign {
		position: absolute;
		top: 72px;
		left: 72px;
		font-size: 32px;
		font-weight: 700;
		color: #961F1A;
	}

	&-title {
		margin-top: auto;
		margin-bottom: auto;
		font-size: 126px;
		font-weight: 700;
	}

	&-logo {
		position: absolute;
		bottom: 72px;
		left: 72px;
		width: 212px;
	}

	&-link {
		position: absolute;
		right: 72px;
		bottom: 72px;
		width: 204px;
		padding: 14px;
		background: #FFFFFF;
		border: 1px solid rgba(20, 22, 21, 0.4);
		border-radius: 10px;

		&-img {
			width: 100%;
			margin-bottom: 10px;
			padding: 4px;

			img {
				width: 100%;
			}
		}

		&-title {
			font-size: 18px;
			font-weight: 700;
			color: #323338;
			font-feature-settings: 'pnum' on, 'lnum' on;
		}
	}
}

body.dark {
	.non-qr-content {
		background: #141615;
		color: #FFFFFF;

	}
}