@font-face {
  font-family: 'ALS Schlange sans';
  src: url('../fonts/alsschlangesans/ALSSchlangesans-Bold.eot');
  src: local('ALS Schlange sans Bold'), local('ALSSchlangesans-Bold'),
      url('../fonts/alsschlangesans/ALSSchlangesans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/alsschlangesans/ALSSchlangesans-Bold.woff2') format('woff2'),
      url('../fonts/alsschlangesans/ALSSchlangesans-Bold.woff') format('woff'),
      url('../fonts/alsschlangesans/ALSSchlangesans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Schlange sans';
  src: url('../fonts/alsschlangesans/ALSSchlangesans-Black.eot');
  src: local('ALS Schlange sans Black'), local('ALSSchlangesans-Black'),
      url('../fonts/alsschlangesans/ALSSchlangesans-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/alsschlangesans/ALSSchlangesans-Black.woff2') format('woff2'),
      url('../fonts/alsschlangesans/ALSSchlangesans-Black.woff') format('woff'),
      url('../fonts/alsschlangesans/ALSSchlangesans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Schlange sans';
  src: url('../fonts/alsschlangesans/ALSSchlangesans-Light.eot');
  src: local('ALS Schlange sans Light'), local('ALSSchlangesans-Light'),
      url('../fonts/alsschlangesans/ALSSchlangesans-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/alsschlangesans/ALSSchlangesans-Light.woff2') format('woff2'),
      url('../fonts/alsschlangesans/ALSSchlangesans-Light.woff') format('woff'),
      url('../fonts/alsschlangesans/ALSSchlangesans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Schlange sans';
  src: url('../fonts/alsschlangesans/ALSSchlangesans-Thin.eot');
  src: local('ALS Schlange sans Thin'), local('ALSSchlangesans-Thin'),
      url('../fonts/alsschlangesans/ALSSchlangesans-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/alsschlangesans/ALSSchlangesans-Thin.woff2') format('woff2'),
      url('../fonts/alsschlangesans/ALSSchlangesans-Thin.woff') format('woff'),
      url('../fonts/alsschlangesans/ALSSchlangesans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Schlange sans';
  src: url('../fonts/alsschlangesans/ALSSchlangesans.eot');
  src: local('ALS Schlange sans'), local('ALSSchlangesans'),
      url('../fonts/alsschlangesans/ALSSchlangesans.eot?#iefix') format('embedded-opentype'),
      url('../fonts/alsschlangesans/ALSSchlangesans.woff2') format('woff2'),
      url('../fonts/alsschlangesans/ALSSchlangesans.woff') format('woff'),
      url('../fonts/alsschlangesans/ALSSchlangesans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

